<template>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>League Table</th>
          <th>Match Results</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <table>
              <thead>
                <tr>
                  <th>Teams</th>
                  <th>PTS</th>
                  <th>P</th>
                  <th>W</th>
                  <th>D</th>
                  <th>L</th>
                  <th>GD</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(record, index) in leagueWeek " :key="index">
                  <td>{{record.team}}</td>
                  <td>{{record.points}}</td>
                  <td>{{record.played ? week : week - 1}}</td>
                  <td>{{record.win}}</td>
                  <td>{{record.draw}}</td>
                  <td>{{record.loss}}</td>
                  <td>{{record.goals_for - record.goals_against}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table>
              <thead>
                <tr>
                  <th class="weekNumberHead" colspan="3">Week ({{week}}) Match Results</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(match, index) in matches.filter((m)=> m.week === week)" :key="index">
                  <td>{{match.team1}}</td>
                  <td>{{match.score1}}-{{match.score2}}</td>
                  <td>{{match.team2}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td id="playCell">
            <button @click="play">Play</button>
          </td>
          <td id="nextCell">
            <button @click="next">Next</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data() {
    return {
      matches: [],
      leagueRecords: [],
      leagueWeek: [],
      week: 1
    };
  },
  methods: {
    async getMatches() {
      const matches = await fetch(
        `${process.env.VUE_APP_BASE_API_URL}/match`
      ).then(response => response.json());
      this.matches = matches;
    },
    async getLeagueRecords() {
      const leagueRecords = await fetch(
        `${process.env.VUE_APP_BASE_API_URL}/league`
      ).then(response => response.json());
      this.leagueRecords = leagueRecords;
      this.leagueWeek = this.currentRecord();
    },
    async play() {
      const results = await fetch(`${process.env.VUE_APP_BASE_API_URL}/match`, {
        method: "put"
      }).then(response => response.json());
      this.matches = results.matches;
      this.leagueRecords = results.leagueRecords;
      this.leagueWeek = this.currentRecord();
    },
    currentRecord(count = 0) {
      const findWeekRecord = this.leagueRecords.filter(
        ({ week }) => week === this.week - count
      );
      if (findWeekRecord.length === 0) return this.currentRecord(count + 1);
      return findWeekRecord;
    },
    next() {
      if (this.week < 6) this.week = this.week + 1;
      this.leagueWeek = this.currentRecord();
    }
  },
  mounted() {
    this.getMatches();
    this.getLeagueRecords();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  box-shadow: 1px 1px 7px -2px #333;
  padding: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 7px solid orange;
  background-color: #fff;
  margin: 25px 25px;
}
table {
  justify-self: center;
  text-align: center;
}
#nextCell {
  text-align: right;
}
#playCell {
  text-align: left;
}
</style>
